<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-app="rgaAssessmentApp" id="demo2" ng-controller="MainCtrl as main">

    <div class="container">
      <div class="mainDiv">
        <h1 id="demo2PageName"> Demo 2</h1>
        <div class="demo2Headings">
          <label for="gender" id="gender">Gender:</label>
          <label for="percentage" id="percentage"> Percentage </label>
        </div>
        <div class="data1">
          <div class="gender">
            <select id="genderValue" name="gender">
              <option value="">Choose a gender</option>
              <option value="Female">Female</option>
              <option value="Male">Male</option>
            </select>
          </div>
          <div class="percentage">
            <select id="percentageValue" name="percentage">
              <option value="">Choose a percentage</option>
              <option value="0">0%</option>
              <option value="10">10%</option>
              <option value="20">20%</option>
              <option value="30">30%</option>
              <option value="40">40%</option>
              <option value="50">50%</option>
              <option value="60">60%</option>
              <option value="70">70%</option>
              <option value="80">80%</option>
              <option value="90">90%</option>
              <option value="100">100%</option>
            </select>
          </div>
          <button class="addBtn" ng-click="main.add()">Add</button>
          <div class="data" ng-show="main.dataAvailable1">
            <div class="gender">
              <p> {{main.gender}} </p>
            </div>
            <div class="percentage">
              <p> {{main.data['Male']}}% </p>
            </div>
            <button class="removeBtn" ng-click="main.remove(data)">Remove</button>
          </div>
        </div>


        <div class="data2">
          <div class="gender">
            <select id="genderValue" name="gender">
              <option value="">Choose a gender</option>
              <option value="Female">Female</option>
              <option value="Male">Male</option>
            </select>
          </div>
          <div class="percentage">
            <select id="percentageValue" name="percentage">
              <option value="">Choose a percentage</option>
              <option value="0">0%</option>
              <option value="10">10%</option>
              <option value="20">20%</option>
              <option value="30">30%</option>
              <option value="40">40%</option>
              <option value="50">50%</option>
              <option value="60">60%</option>
              <option value="70">70%</option>
              <option value="80">80%</option>
              <option value="90">90%</option>
              <option value="100">100%</option>
            </select>
          </div>
          <button class="addBtn" ng-click="main.add()">Add</button>
          <div class="data" ng-show="main.dataAvailable2">
            <div class="gender">
              <p> {{main.gender}} </p>
            </div>
            <div class="percentage">
              <p> {{main.data['Male']}} </p>
            </div>
            <button class="removeBtn" ng-click="main.remove(data)">Remove</button>
          </div>
        </div>
        <div class="buttons" id="demoButtons">
          <a href="/" class="button1" id="demo2Button1">BACK TO HOME PAGE</a>
        </div>
      </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/demo2.js"></script>
</body>
</html>
